html,body,div{
    margin:0;
    padding:0;
}
.box{
    display: flex;
    justify-content: flex-start;
}
.box div{
    width: 25%;
    height: 300px;
    line-height:300px;
    text-align:center;
    font-size:80px;
}
.div1{
    background:red;
}
.div2{
    background:green;
}
.div3{
    background:orange;
}
.div4{
    background:rgb(0, 102, 128);
}